@use './common' as common;
@use './theme' as theme;

@mixin commonButton {
  min-width: 80px;
  max-width: 150px;
  height: 24px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: common.$boxShadow;
  text-transform: none;
  &:hover {
    background: theme.$grayMedium;
    color: theme.$white;
  }
}
@mixin controlButton {
  @include commonButton;
  color: theme.$white;
  background: linear-gradient(
    180deg,
    theme.$primaryTextColor 30%,
    theme.$primaryIconColor 90%
  );
  &.Mui-disabled {
    background: theme.$grayMedium;
    opacity: 0.8;
    color: theme.$grayLight;
  }
  &.alternate {
    background: linear-gradient(
      180deg,
      theme.$primaryTextColor 30%,
      theme.$primaryThemeColor 90%
    );
  }
}
