$primaryThemeColor: #68d2b7;
$primaryIconColor: #038363;
$secondaryThemeColor: #ed1c2a;

$primaryTextColor: #232323;
$secondaryTextColor: #4c5873;
$textColorFourth: #868b95;

$blueDark: #002e4c;
$blueLight: #2196f3;

$greenDark: #1d740f;
$greenModerate: #09942c;
$greenMedium: #35cb1d;
$greenLight: #32bea6;

$redDark: #ee1627;
$redLight: #ee1f25;
$redMedium: #eb596b;

$yellowDark: #fcba10;
$yellowLight: #fdae19;

$orangeDark: #f17707;
$orangeLight: #f04922;

$grayDark: #737373;
$grayMedium: #a7a7a7;
$grayLight: #d9d9d9;
$graySuperLight: #f8f8f8;
$grayUltraLight: #dedede;
$graySuperUltraLight: #e9e9e9;

$white: #ffffff;
$black: #000000;
$blackLight: #071822;
$inputTextColor: #505050;
