$primaryThemeColor: #68d2b7;
$primaryIconColor: #038363;
$secondaryThemeColor: #ed1c2a;

$primaryTextColor: #232323;
$secondaryTextColor: #4c5873;
$textColorFourth: #868b95;

$blueDark: #002e4c;

$grayDark: #737373;
$grayMedium: #a7a7a7;
$grayLight: #d9d9d9;
$graySuperLight: #f8f8f8;

$white: #ffffff;