@use '../../styles/partials/common' as common;
@use '../../styles/partials/theme' as theme;
.menuWrapper {
    height: 100%;
    width: 100%;
    background: lightgray;
    box-shadow: common.$boxShadow;
    border: 3px solid white;
    border-radius: 10px;
    .navigationHead{
        padding: 16px;
        .titleHead{
            color: theme.$primaryIconColor;
            font-size: 20px;
            font-weight: 900;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }
    }
    .menuItemsWrapper {
        width: 100%;
        padding-top: 20px;
        .menuItem {
          // transform: scale(1);
          .menuItemIcon {
            color: theme.$grayDark;
            cursor: pointer;
            &.active {
              color: theme.$primaryIconColor;
            }
            &.disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
        .activeIndicatorWrapper {
          padding-left: 18px;
          .activeIndicator {
            width: 8px;
            height: 8px;
            background: theme.$secondaryThemeColor;
            border-radius: 50%;
            box-shadow: common.$boxShadow;
          }
        }
      }
}